.app {
	display: grid;
	min-height: 100vh;
	grid-template-rows: 1fr 85vh 1fr;
}

.shaded-background {
	background: repeating-linear-gradient(45deg, #2c4251, #2c4251 10px, #1a202c 10px, #1a202c 20px);
}

.shaded-background-white {
	background: repeating-linear-gradient(-45deg, #2c425118, #2c425118 10px, #ffffff 10px, #ffffff 20px);
}

@media only screen and (min-width: 30em) {
	.post-card-buttons > * {
		flex-direction: column;
	}
}
